/* new login form */
#autorization_form {
    margin-right: 2em;
}

.authorization-containeer-position {
    margin-top: 1.5em;
}

.authorization-login-block {
    display: flex;
    align-items: center;
}

.authorization-input-title {
    font-size: 1rem;
    font-weight: 600;
    color: #373939;
}

.authorization-input-keyauth-subtitle {
    font-size: .75rem;
    font-weight: 600;
    color: #373939;
}

.keyauth-input {
    width: 150px;
}

.authorization-keyauth-input-title-block {
    padding-right: 0;
    line-height: 20px;
}

.authorization-input {
    padding: 0 8px;
    margin: 0;
}

.authorization-pass-block {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
}

.authorization-forgot-pass-containeer {
    margin-top: .5em;
}

.authorization-forgot-pass-block {
    display: flex;
    justify-content: center;
}

.authorization-forgot-pass-link {
    color: #079bd8;
    font-size: .8rem;
}

.authorization-btn-block {
    margin-left: .5em;
}

.authorization-btn {
    float: left;
}

.authorization-captcha-block {
    margin: 0;
    padding: 0;
}

.authorization-captcha-img-block {
    margin: 0 !important;
    padding: 0;
    display: flex;
    justify-content: center;
}

.authorization-captcha-img {
    padding-top: .5em;
    height: 45px;
}

.authorization-captcha-refresh-block {
    padding: 0;
    margin: 0;
    min-height: 40px;
    display: flex;
    align-items: flex-end;
}

.authorization-captcha-refresh-img {
    width: 22px;
    height: 22px;
}

.authorization-captcha-title-block {
    margin-left: 0 !important;
}

.authorization-input-err-block {
    display: flex;
    justify-content: center;
}

.authorization-input-err {
    font-size: .8rem;
}

.authorization-captcha-input {
    margin: 1em 0 0 0 !important;
}

.authorization-input-err div {
    margin-top: 10px !important;
}

.authorization-link-containeer {
    margin-top: 3em;
}

.authorization-link-block-position {
    margin-top: 1.5em;
}

.authorization-link-block {
    margin-left: 1em;
    margin-top: .3em;
}

.authorization-link-block:first-of-type {
    margin-top: 0;
}

.authorization-link-text {
    line-height: 18px;
}

.authorization-link-text-block {
    margin-top: 1em;
}

.login-card-info-containeer {
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 2em 2.5em;
}

.login-card-info-title-block {
    background-color: #E31E24;
    border-radius: 8px;
    padding: .7em 0;
}

.login-card-info-title {
    color: white;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.login-card-info-block-position {
    margin-top: 3em;
}

.login-card-info-block {
    display: flex;
    align-items: center;
}

#login-card-info-block-2 {
    margin-top: 2.5em;
}

.login-card-info-circle-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.login-card-info-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FFC809;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card-info-circle-text {
    color: #373939;
    font-size: 1.4rem;
    font-weight: 600;
}

.login-card-info-description {
    color: #373939;
    font-size: .95rem;
    line-height: 22px;
}

.login-card-info-link-containeer-position,
.login-card-info-link-description-block {
    margin-top: 1.2em;
}

.login-card-info-link-containeer,
.login-card-info-link-text-block {
    padding: 0;
}

.login-card-info-link-block {
    background-color: #E8EDF1;
    padding: .7em 0;
    border-radius: 14px;
    display: flex;
    align-items: center;
}

.login-card-info-link-icon-block {
    padding: 0;
    display: flex;
    justify-content: center;
}

.login-card-info-link-icon {
    width: 11px;
    height: 14px;
}

.login-card-info-link-text {
    font-size: .95rem;
    color: #727271;
}

.login-card-info-link-text span {
    color: #009846;
}

.login-card-info-link-description {
    color: #373939;
    font-size: .95rem;
    line-height: 22px;
}

.authorization-keyauth-type-text-block {
    padding-left: .5em;
}

.authorization-keyauth-type-text {
    font-size: .8rem;
    color: #E87F39;
}

.authorization-keyauth-input-block {
    padding-left: 0;
}

.login_disabled_input {
    background: #ECECEC !important;
    color: #9E9E9E !important;
    -webkit-box-shadow: 0 0 0 1000px #ECECEC inset !important;
}

/* modal window */
.swal2-modal swal2-show {
    width: 650px !important;
    min-height: 525px !important;
}

.modal-login-button:active, .modal-login-button:focus {
    outline: none;
}

.modal-login-button {
    width: 150px !important;
    padding: 0 !important;
    background-color: #FECC00 !important;
    color: black !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
    margin: 15px 15px 0 !important;
    height: 36px !important;
}

.modal-login-subtitle {
    margin-top: 1.5em !important;
    color: #8C8C8C !important;
    font-size: .9rem !important;
}

.swal2-modal .swal2-checkbox {
    color: #A3A3A3 !important;
}

.swal2-modal .swal2-checkbox input, .swal2-modal .swal2-checkbox span {
    vertical-align: inherit !important;
}

.modal-login-containeer {
    font-size: .95rem !important;
    color: #525252;
    width: 90% !important;
    margin: auto !important;
}


.modal-login-text-block {
    margin: 1.5em 0 !important;
}

@media screen and (max-width: 1024px) {
    .authorization-keyauth-input-block {
        display: flex;
        justify-content: center;
    }

    .authorization-keyauth-type-text-block {
        padding-left: 15px;
    }

    .authorization-input-block {
        padding-right: 0 !important;
        padding-left: 2px !important;
    }
}

@media screen and (max-width: 768px) {
    .authorization-captcha-input {
        margin-top: .7em !important;
    }

    .authorization-captcha-containeer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .authorization-captcha-refresh-block {
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .authorization-containeer-position {
        margin-top: 0;
    }

    .login-containeer {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #autorization_form {
        margin-right: 0;
    }

    .login-card-info-block-position,
    #login-card-info-block-2,
    .login-card-info-containeer,
    .authorization-link-containeer {
        margin-top: 1.5em;
    }

    .login-card-info-link-description-block div {
        padding: 0;
    }

    .authorization-captcha-refresh-block {
        justify-content: center;
    }

    .authorization-captcha-input {
        margin-top: .5em !important;
    }

    .login-card-info-containeer {
        padding: 1.5em;
    }
}

@media screen and (max-width: 320px) {
    .authorization-keyauth-type-text-block {
        padding-left: 0;
    }

    .keyauth-input {
        width: 100px !important;
    }

    .recepient {
        width: 150px;
    }

    .login-card-info-circle {
        width: 40px;
        height: 40px;
    }

    .login-card-info-circle-text {
        font-size: 1.1rem;
    }

    .login-card-info-description,
    .login-card-info-link-description {
        font-size: .8rem;
    }

    .login-card-info-link-text {
        font-size: .9rem;
    }
}

/* new login form */
